[Unit]
Description=Run jobhunt submit queue

[Timer]
OnActiveSec=8min
OnUnitActiveSec=65min
AccuracySec=1min
RandomizedDelaySec=2min
Persistent=true
Unit=jobhunt@submit.service

[Install]
WantedBy=timers.target
