[Unit]
Description=Run jobhunt submit queue

[Timer]
OnActiveSec=3min
OnUnitActiveSec=30min
AccuracySec=30s
RandomizedDelaySec=30s
Persistent=true
Unit=jobhunt@submit.service

[Install]
WantedBy=timers.target
