<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jobhunt.drip</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/davidcui824/jobhunt/runtime_secrets.py</string>
		<string>--</string>
		<string>/usr/bin/python3</string>
		<string>/Users/davidcui824/jobhunt/drip.py</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Library/TeX/texbin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/davidcui824/jobhunt/out/drip.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/davidcui824/jobhunt/out/drip.log</string>
</dict>
</plist>
